/*Стилизуем footer*/
.footer{
  height: 77px;
  margin-top: -77px;
  background:#4b73b5;
  overflow: hidden;
  &-col{
    line-height:18px;
    color:#fff;
    font-size:14px;
    width:33.33%;
    display: flex;
    flex-direction: column;
    &--left{
    }
    &--center{
      text-align: center;
      & img{
      }
    }
    &--right{
      text-align: right;
      align-items: flex-end;
    }
  }
  &-col p{
    margin:0;
    padding:0;
  }
  &-link{
    font-weight:$boldFont;
    color: #fff;
  }

}

.footer__container{
align-items:center;
height: 100%; 
}
.text--strong{
  font-weight:$boldFont;
}

//Социальные сети

.socials{
text-align: left;
}
.socials__title{
  font-weight:$boldFont;
  margin-bottom:5px;
}
.socials__list{
display: flex;
}
.socials__item{
  background: #d2def3;
  display: inline-block;
  margin-left: 8px;
  width:22px;
  height: 22px;
  border-radius: 50%;
  transition: all 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  &:first-child{
    margin-left:0px;
  }
  &:hover{
    background: #fff;
  }
}


// .socials__item-link{
//   display: inline-block;
//   text-indent:100%;
//   width:100%;
//   height:100%;
//   background-position: center center;
//   background-repeat: no-repeat;
//   white-space:nowrap;
//   overflow: hidden;
// }
// .socials__item-link_vk{
//   background-image: url(/assets/img/icons/vk.png);
// }
// .socials__item-link_fb{
//   background-image: url(/assets/img/icons/fb.png);
// }
// .socials__item-link_google{
//   background-image: url(/assets/img/icons/google.png);
// }
// .socials__item-link_twitter{
//   background-image: url(/assets/img/icons/twitter.png);
// }
// .socials__item-link_mail{
//   background-image: url(/assets/img/icons/mail.png);
// }


.socials_aside{
  text-align: center;
  margin-top: 30px;
}
.socials_aside .socials__list{
  justify-content:center;
}
.socials_aside .socials__item{
  background: transparent;
}
.socials_aside .socials__item:hover{
  background: #d2def3;
}
.socials_aside .socials__title{
  font-size:14px;
}



.socials__item-link{
  display: inline-block;
  text-indent:100%;
  background-image: url(/assets/img/icons/spritesheet.png);
  background-repeat: no-repeat;
  white-space:nowrap;
  overflow: hidden;
}
.socials__item-link_vk{
  width: 12px;
  height: 7px;
  background-position: -134px -10px;
}
.socials__item-link_fb{
  width: 6px;
  height: 13px;
  background-position: -10px -10px;
}
.socials__item-link_google{
  width: 15px;
  height: 9px;
  background-position: -36px -10px;
}
.socials__item-link_twitter{
  width: 11px;
  height: 9px;
  background-position: -103px -10px;
}
.socials__item-link_mail{
  width: 12px;
  height: 9px;
  background-position: -71px -10px;
}





















//.socials__item-link2{
//  display: inline-block;
//  text-indent:100%;
//  width:100%;
//  height:100%;
//  white-space:nowrap;
//  overflow: hidden;
//  position: relative;
//}
//.socials__sprite{
//  //background-image: url(/assets/img/social/sprite_icons.png);
//  background-repeat: no-repeat;
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%,-50%);
//  &--vk{
//    //background-position: -224px -20px;
//    width: 14px;
//    height: 8px;
//    background: url(/assets/img/social/vk.png) no-repeat 50% 50%;
//  }
//  &--fb{
//    //background-position: -20px -20px;
//    width: 6px;
//    height: 13px;
//    background: url(/assets/img/social/fb.png) no-repeat 50% 50%;
//  }
//  &--google{
//    //background-position: -66px -20px;
//    width: 15px;
//    height: 9px;
//    background: url(/assets/img/social/google.png) no-repeat 50% 50%;
//  }
//  &--twitter{
//    //background-position: -173px -20px;
//    width: 11px;
//    height: 9px;
//    background: url(/assets/img/social/twitter.png) no-repeat 50% 50%;
//  }
//  &--mail{
//    //background-position: -121px -20px;
//    width: 12px;
//    height: 9px;
//    background: url(/assets/img/social/mail.png) no-repeat 50% 50%;
//  }
//}