/*Стилизуем страницу приветствия*/
.wrapper--intro{
  min-width: auto;
  // height: 100%;
}
.intro{
  height: 100vh;
  position: relative;
  //@include centered(max);
  background: url("/assets/img/bg.jpg") no-repeat;
  background-size: cover;
  @extend %clearfix;
}
.intro-block{
  @include centered(both);
  text-align: center;
}
.logo--intro{
  width: 110px;
 margin: 0 auto;
  padding-bottom:40px;
 }
.button--intro{
  height: 45px;
  color:#1c5bc4;
  font-size: 12px;
  font-weight: $mediumFont;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  animation-name: zoomIn;
  animation-duration: 1s;
  &:hover:after{
    content: "";
    width: 15px;
    height: 14px;
    background-position: -62px -5px;
  }
  &:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-image: url(/assets/img/sprite.png);
    background-repeat: no-repeat;
    width: 15px;
    height: 14px;
    background-position: -37px -5px;
    margin-left: 5px;
  }
}