.price__item:first-child{
    margin-left: 0;
  }
  .price{
    margin-bottom: 60px;
  }
  .price__list{
    display: flex;
  }
  .price__item{
    width:30%;
    text-align: center;
    padding: 20px 0;  
    margin-left: 20px;
  }

  //Блок цены
  .price-item--active,.price-item:hover{
    border: solid 1px #e8e9ed;
  }

  .price-item{
    text-align: center;
    padding: 20px 0;
    border-radius: 5px;
    border: solid 1px transparent;
    width: 100%;
  }
  .price-item__img{
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: #4b73b5;
  position: relative;
  margin: 0 auto;
  margin-bottom: 35px;
  }
  .price-item__img-pic{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .price-item__block{
    max-width: 188px;
    margin: 0 auto 10px;
  }
  .price-item__title{
    font-size: 10.78px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    display: block;
    margin-bottom: 25px;
  }
  .price-item__title_big{
    font-size: 18px;
    letter-spacing: normal;
  }
  .price-item__desc{
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
  }
  .price-item__block-list{
    text-align: left;
    position: relative;
  }
  
  .price-item__block-item{
    line-height: 30px;
    margin-left: 25px;
  }
  .price-item__block-item:before{
    content: "•";
    position: absolute;
    left:0;
  }
  .price-item__currency{
    font-size: 53.89px;
    font-weight: 500;
  }
  .price-item__currency sub{
    bottom: 0;
    font-size: 60%;
  }