extends ../_template

block variables
	- var title = 'Index page'
block content
	.wrapper
		.block.green Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, obcaecati.
		.block.red Quia voluptatum eveniet ab deleniti ducimus in aut iste deserunt.
		.block.green Soluta corrupti sint blanditiis iure fugit officia dolorum natus voluptates!
		.block.red Facere voluptas enim esse quibusdam ab odit incidunt, cum molestias?
		.block.green Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, officia.
		.block.red Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, sint!