extends ../_template

block variables
    - var title = 'Index page'

block content
    div.wrapper
        header.header
            div.container.header__container
                .logo.logo--header
                    a(href="/").logo__link
                        img(src="/assets/img/logo.png", alt="Главная страница").logo__img
                        span.logo__title Company Airplanet
                .header-contact
                    a.header-contact__phone(href="tel:+78000039210") 8 (800) 00-392-10
                    .header-contact__time
                        a(href="#").header-contact__time-link График работы
                        .schedule
                            .schedule__time пн-вс: 09:00-20:00
                            .schedule__nowork обед: 14:00-14:30
        div.container.container_wrap
            aside.sidebar.col-3
                section.blockquote.blockquote_aside
                    .blockquote__content Вопросы по бронированию билетов в нашей авиакомпании принимаются. Для этого можно оставить <a href="#"><strong>заявку на сайте</strong></a> или же позвонить по номеру круглосуточной поддержки <a href="tel:88000039210">8 (800) 00-392-10</a>.
                .socials.socials_aside
                    .socials__title Наши социальные сети
                    ul.socials__list
                        li.socials__item
                            a(href="#").socials__item-link.socials__item-link_vk В контакте
                        li.socials__item
                            a(href="#").socials__item-link.socials__item-link_fb Facebook
                        li.socials__item
                            a(href="#").socials__item-link.socials__item-link_google Google
                        li.socials__item
                            a(href="#").socials__item-link.socials__item-link_twitter Твиттер
                        li.socials__item
                            a(href="mailto:maxim_91@inbox.ru").socials__item-link.socials__item-link_mail Mail
            main.content.col-9
                nav.menu.menu_row
                    ul.menu__list
                        li.menu__item
                            a(href="about.html").menu__item-link.menu__item-link--main Главная
                        li.menu__item
                            a(href="comments.html").menu__item-link.menu__item-link--comments.is-active Отзывы
                        li.menu__item
                            a(href="team.html").menu__item-link.menu__item-link--team Экипаж                
                h1.content-title Отзывы
                section.content-list
                    ul.content-list__list
                        li.content-list__item
                            div(style="background-image:url(/assets/img/comments/photo.jpg)").content-list__img
                                img(src="/assets/img/comments/photo.jpg", alt="Аватар").content-list__img-pic
                            .content-list__text
                                span.content-list__text-date 12.10.2016
                                span.content-list__text-title Ирина Паламарчук
                                p.content-list__text-desc Ужасный полет, трясло первые полчаса так, что я боялась отстегнуть ремни. Слава Богу, ничего не случилось, но мне даже валерьянка не помогла, так страшно было. Не рекомендую эту компанию, лучше доплатить и лететь с комфортом.
                        li.content-list__item
                            div(style="background-image:url(/assets/img/comments/photo2.jpg)").content-list__img
                                    img(src="/assets/img/comments/photo2.jpg").content-list__img-pic
                            .content-list__text
                                span.content-list__text-date 01.02.2016
                                span.content-list__text-title Александр Бельков
                                p.content-list__text-desc Все понравилось, вежливые стюардессы, вовремя убирают, напитки предлагали 2 раза, а еду – 1 раз. Единственное, что не понравилось, как то мало места для ног, но с этим у меня часто проблема, рост 2,1м.
                        li.content-list__item
                            .content-list__img
                                img(src="/assets/img/comments/photo3.jpg").content-list__img-pic
                            .content-list__text
                                span.content-list__text-date 22.12.2015
                                span.content-list__text-title Игорь Николаенко
                                p.content-list__text-desc Не кормили вообще! Сказали, что это из-за того, что полет менее 2,5 часов. Но прибавьте к этому время регистрации в аэропорту. Летел с женой и мы очень проголодались. Просто имейте это ввиду, берите с собой хотя бы бутерброды, чипсы какие-то или печенье.
                        li.content-list__item
                            .content-list__img
                                img(src="/assets/img/comments/photo4.jpg").content-list__img-pic
                            .content-list__text
                                span.content-list__text-date 14.08.2015
                                span.content-list__text-title Анастасия Порядная
                                p.content-list__text-desc За такую цену просто все отлично! Кто недоволен, платите в 2 раза больше за аналогичные рейсы. Мне понравилось, что на борту было чисто, я аллергик и всегда чутко реагирую на пыль. Спасибо за полет! Рекомендую!
                    .pagination
                        .pagination__title Страница 1 из 7
                        a(href="#").pagination__btn.pagination__btn--prev.pagination__btn--active &lsaquo;
                        ul.pagination__list
                            li.pagination__item.pagination__item--active
                                a(href="#").pagination__link 1
                            li.pagination__item
                                a(href="#").pagination__link 2
                            li.pagination__item
                                a(href="#").pagination__link 6
                            li.pagination__item
                                a(href="#").pagination__link 4
                            li.pagination__item
                                a(href="#").pagination__link 5
                            li.pagination__item
                                a(href="#").pagination__link 6
                            li.pagination__item
                                a(href="#").pagination__link 7
                        a(href="#").pagination__btn.pagination__btn--next &rsaquo;
            section.form
                    form(method="post").form__elem
                        .form__fields
                            .form__title Оставить отзыв
                            .form__row
                                label.form__input
                                    .form__field-title Ваше имя
                                    input(placeholder="Андрей", type="text").form__input-text
                                label.form__input
                                    .form__field-title Ссылка на профиль VK
                                    input(placeholder="vk.com/example", type="text").form__input-text.form__input-elem
                            .form__row
                                label.form__textarea-label
                                    .form__field-title Текст отзыва
                                    textarea(placeholder="Введите отзыв").form__input-text.form__textarea
                            .form__row
                                .form__row-col.form__row-col--left
                                    .form__field-title Отображать фото в отзыве?
                                    label.form__radio
                                        input(type="radio", name="review", checked).form__radio-elem
                                        .form__radio-fake
                                        .form__radio-text Да
                                    label.form__radio
                                        input(type="radio", name="review").form__radio-elem
                                        .form__radio-fake
                                        .form__radio-text Нет
                                .form__row-col.form__row-col--right
                                    button(type="submit").form__submit Отправить
    footer.footer
        .container.footer__container
            .footer-col.footer-col--left
                p Сделано с любовью и старанием <br> на курсе «Основы верстки» в&nbsp;
                    a(href="#").footer-link LoftSchool
                p Автор работы:
                    span.text--strong  Иванов Максим
            .footer-col.footer-col--center
                .logo.logo--footer
                    a(href="/").logo__link
                        img(src="/assets/img/logo.png", alt="Логотип компании")
            .footer-col.footer-col--right
                    .social-container
                        .soc__title Наши социальные сети
                        ul.socials__list
                            li.socials__item
                                a(href="#").socials__item-link.socials__item-link--vk В контакте
                            li.socials__item
                                a(href="#").socials__item-link.socials__item-link--fb Facebook
                            li.socials__item
                                a(href="#").socials__item-link.socials__item-link--google Google
                            li.socials__item
                                a(href="#").socials__item-link.socials__item-link--twitter Твиттер
                            li.socials__item
                                a(href="mailto:maxim_91@inbox.ru").socials__item-link.socials__item-link--mail Mail