extends ../_template

block variables
  - var title = 'Index page'

block content
  div.wrapper.wrapper--intro
    div.intro
      .intro-block
        .logo.logo--intro
          img(src="/assets/img/logo_intro.png").
        a.button.button--intro(href="about.html")
          span.button__text Перейти на сайт
