/*Basic styles for project*/
.clearfix:after {
  content: "";
  display: block;
  clear:both;
}
*{
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
body {
  @include roboto;
  font-weight: 300;
  font-style: normal;
  line-height: 1.42;
  font-size: 18px;
  color: #221f1f;
}
.wrapper {
  overflow: hidden;
  min-width: 1100px;
  min-height: 100%;
}
.col-3{
  width: calc(100%/12*3);
}
.col-4{
  width: calc(100%/12*4);
}
.col-9{
  width: calc(100%/12*9);
}
.wrapper:after {
  content: "";
  display: block;
  height: 77px;
}
.container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.container_width_1160{
  width: 1160px;
}
.container_wrap{
  flex-wrap: wrap;
}
.button{
  padding:15px 20px;
  border:1px solid #4b73b5;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  display: inline-block;
}
.button:hover {
  background: #4b73b5;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.breadchrumbs{
  margin-top: 41px;
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: $lightFont;
  font-style: italic;
  &__list{

  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    &:after {
      content: "/";
    }
    &:last-child:after{
      display: none;
    }
  }
  &__item-link{
    color: rgba(28, 91, 195, .8);
    padding-right:5px;
    &:hover{
      color: #4b73b5;
    }
    &--last{
      color: #221f1f;
      text-decoration: none;
      cursor: default;
      &:hover{
        color: #221f1f;
      }
    }

  }
  &__text{
    color: #221f1f;
  }
}
.visible-hidden{
  visibility: hidden;
  width: 0;
  height: 0;
}